

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>





    <head>
      <style>
        /* Center the page horizontally and vertically */
       
  
        /* Style the container */
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
  
       
      </style>
    </head>
    <body>
      <div>
        <img src="https://www.cuidadosparamascotas.com/wp-content/uploads/2019/09/gatitos-importancia-vitaminas.jpg" height="450" width="800">
        <h1>Ale Pintado</h1>
        <p style="font-size: 20px;">My name is Ale, I am a Video Game Programming student at Centennial College and this is my fourth semester.</p>
        <iframe src="https://onedrive.live.com/embed?cid=20F46C5F84EA0E8C&resid=20F46C5F84EA0E8C%21179975&authkey=AH_bVDD0scCoU0k&em=2" width="952" height="576" frameborder="0" scrolling="no"></iframe>
      </div>
    </body>

      
    </div>
   
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>