

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>





    <head>
      <style>
        /* Center the page horizontally and vertically */
       
  
        /* Style the container */
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
  
       
      </style>
    </head>
    <body>
      <div>
        <img src="https://mf.b37mrtl.ru/actualidad/public_images/2021.09/article/614b1829e9ff714ff96b37f3.jpg">
        
      </div>
    </body>

      
    </div>
   
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>