

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>





    <head>
      <style>
        /* Center the page horizontally and vertically */
       
  
        /* Style the container */
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
  
       
      </style>
    </head>
    <body>
      <div>
        <img src="https://sat02pap005files.storage.live.com/y4mV-2Of3vpm6XF7DF_sAr21svesgPn8Cta6kn57bIkZ2mZ-lQoXKHnSAbAuOLVX2HIr0p1gtpv7Y6W-jhcNQ9vP4nZ6xO_jM4EKRxkT4Ohof4QbZel6OTlo6ij3vs-5Zl1ljHqMraMuweFOXGbdEylqLhDd72A_14TZlck335kElNFwYN0vD5-Y2OpVII_oqwb?width=1798&height=898&cropmode=none" width="1400" height="800" />        
        
        <h1>Game Project 1</h1>
        <p style="font-size: 30px;">This is a project that I did in the second semester for my Final assignment in game programming.</p>

        <img src="https://sat02pap005files.storage.live.com/y4mzuC7tpW9hcvIg2kpYTLjOG3hCrLuNjVpbYzh_Z_pP46Y7l7DUplfPvr95C0CFbdvSxbZjJFsKqOftSK7P6TG8h79mjx-CmiUvifmqNI5DX84RvQYXTTVndipbYDcqrA2jjOe48TlE-TkSJgHNZcx9tsqmYz4Vjmo_qx90pUNywf4EfnHB_Kt4AF-z405QKQo?width=1860&height=1104&cropmode=none" width="1400" height="800" />
        <h1>Game Project 2</h1>
        <p style="font-size: 30px;">This is a project that I did in the third semester for my Midterm assignment in game programming.</p>

        <img src="https://sat02pap005files.storage.live.com/y4mAFTuTUmO_tZAt06notALxt3IWe3AaDOUtzXPgCS3WlPx5gx4WJHViuqf3vxdX2Yk_9IEPciucmNEdjtx43DrwAHy01hzxf7ekrOIqFJuRIROz8q_HY6U7WZE8wTFkuaO3CFUA36u3ABnGR0TewGcgU4TAJe-yZRRizi2yliZBmzIA4m-EzZAnrzmQCsMGQ7g?width=2560&height=1486&cropmode=none" width="1400" height="800" />
        <h1>Game Project 3</h1>
        <p style="font-size: 30px;">This is a project that I did in the third semester for my Final assignment in game programming.</p>
      </div>
    </body>

      
    </div>
   
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>