

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>





    <head>
      <style>
        /* Center the page horizontally and vertically */
       
  
        /* Style the container */
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
  
       
      </style>
    </head>
    <body>
      <div>
        <img src="https://muscle.ca/wp-content/uploads/2021/11/services_systemsnavigation_y640.jpg" height="490" width="1700">
        <h1>Game Developer</h1>
        <p style="font-size: 35px;">I can offer my services as a game developer and translate your ideas into a 2D or 3D game.</p>
        <img src="https://miro.medium.com/max/1400/1*KbYaeKKyTGzNTKjIiBzb3w.png" height="400" width="800">

        <h1>Web Page Developer</h1>
        <p style="font-size: 35px;">I can offer my services as a web page developer and create a perfect page for you with all your ideas.</p>
        <img src="https://cdn.computercareers.org/wp-content/uploads/Web-Developer-1.png" height="400" width="800">

        <h1>Programmer</h1>
        <p style="font-size: 35px;">I can offer my services as a Java, C++, C#, Python programmer to create any program in the most optimal way.</p>
        <img src="https://www.uagrantham.edu/wp-content/uploads/2019/05/5-Skills-to-Help-You-Thrive-in-Computer-Programming.webp" height="400" width="800">
      </div>
    </body>

      
    </div>
   
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>